<!DOCTYPE html>
<html>
    <head>
        <title>Perpustakaan</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if books %}
            <ul>
                {% for book in books %}
                <li><a href="/buku2/category/{{category_name}}/{{book.title}}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No books currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>

